* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    
}

@media (max-width: 768px) {
    #navbar {
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    }
    #navbar a {
        font-size: 1.5rem;
        padding: 10px 0;
        width: 100%;
    }

    .initials {
        font-size: 2rem;
        margin-bottom: 10px;
    }
}


body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: 'Georgia', serif;
}

a {
    color: #bfb990;
}

button {
    background-color: #c54708;
    color: #FFFFFF;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    padding:  15px;
    width: 100%;
    justify-content: flex-end;
    text-align: center;
    background: rgb(0, 0, 0);
    box-shadow: 0px 0px 15px #FFD700;
    border-bottom: 2px solid 15px #FFD700;
    z-index: 1000;
    display: flex;
    font-size: 20px;
    gap: 10px;
    font-family: 'Cinzel', serif;
    
    
}

#navbar a {
    text-decoration: none;
    font-size: 1.3rem;
    letter-spacing: 2px;
    transition: color 0.3 ease, transforrm 0.3 ease;
}

#navbar a:hover {
    color: #FFD700;
    transform: scale(1.1);
}

.nav-links a {
    color: #bfb990;
    text-decoration: none;
    margin-right: 10px;
}

.initials {
    color: #FFD700;
    font-size: 25px;
    font-weight: bold;
    justify-content: left;
    align-items: left;
    margin-right: auto;
    
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.luxury-text {
    font-family: 'Playfair Displ: ', serif;
    font-size: 6rem;
    color: #FFD700;
    text-shadow: 3px 3px 5px rgb(0, 0, 0)0.5;
    padding: 20px;
    margin: 0;
}

.luxury-subtext {
    font-family: 'Georgia', serif;
    color: #bfb990;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.5rem;
}

#pp-initials {
    font-size: 8rem;
}
.luxury-text:hover {
    color: #bfb990;
    text-shadow: 5px 5px 10px rgb(0, 0, 0)0.8;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#contact-h1 {
    font-size: 4rem;
}

#email-us {
    font-size: 1.2rem;
}

#email-us a:hover {
    color: #FFD700;
}